<div class="deckBackMobile">
  <%= gmaps4rails(@json) %>
  <div class="tripInfoMobile">
    <h2><%= @deck.title%></h2>
  </div>

  <div class="deckDescriptionMobile">
    <p><%= @deck.description%></p>
  </div>

  <div class="deckCards">
      <div class="apple_pagination">
        <%= will_paginate @cards %>
      </div>

      <%= render @cards %>
        
  </div>
</div>



