  <div class="comment">
    <h7><%= comment.title %></h7>
    <h8>
      <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
      <% if can? :manage, comment %>
       | <%= link_to "Delete", card_comment_path(comment.card, comment), method: :delete, remote: true %>
       | <%= link_to "Edit", card_comment_path(comment.card, comment), method: :update, remote: true %>
      <% end %>
    </h8>
    <%= render partial: 'votes/vote', locals: { comment: comment } %>
    <p><%= comment.description %></p>
  </div>
