<div class="allMobile">
  <div id="toppanel">
    <div id="panel">
    <div class="centerDiv">
      <% if user_signed_in? %>
        <div class="topCol1">
          <%= link_to current_user do%>
            <h4>My Likes</h4>
            <img src="/assets/mylikes.png">
          <% end %> 
        </div>
        <div class="topCol1">
          <%= link_to current_user do%>
            <h4>My Decks & Cards</h4>
            <img src="/assets/mydecks.png">
          <% end %> 
        </div>
        <div class="topCol1">
          <%= link_to current_user do%>
            <h4>I've Done</h4>
            <img src="/assets/mydone.png">
          <% end %> 
        </div>
        <div class="topCol1">
          <%= button_to('Logout', destroy_user_session_path, class: 'btn topButton', method: :delete) %>
          <a href="/decks/new" class="btn topButton">Create a Deck</a>
    
        </div>    
      <% else %>
        <div class="topColMobile">
          <%= render partial: '/devise/sessions/new' %>
         </div>
      <% end %>
    </div>  
    </div> <!-- /login -->  

  <!-- The tab on top --> 
    <div class="mobile">
      <div class="tab">
          
          <div id="toggle">
  
            <a id="open" class="open" href="#"><img src="/assets/plus.png"></a>
         
            <a id="close" style="display: none;" class="close" href="#"><img src="/assets/minus.png"></a> 

        </div> 
      </div> <!-- / top -->
    </div>
  </div> 
</div>