<div class="allMobile">
  <div class="card trip <%= dom_id(card) %>" >
      <div class="edit">
        <%= render partial: 'decks/carddeck', locals: { card: card } %>
      </div>
      <%= image_tag(card.image.mobile) %>
      <div class="cardInfoMobile">
        <h3><%= card.title %></h3>

          <% unless action_name == 'edit' %>
            <p><%= markdown (card.location)%></p>
          <% end %>

      </div> 
  </div>

  <% unless action_name == 'edit' %>

    <div class="card backMobile <%= dom_id(card) %>">
   
        <div class="twistCardMobile"> 
            <h2><%= card.title%><h2> 
              
            <h4><span class='location'><%= card.location%></h4></span>

            <div class="backInfoMobile">
            
              <p><%= card.description%></p>

            <div class="mapDirections">
              <a href="https://maps.google.com/maps?saddr=Current%20Location&daddr=<%= card.location%>"><div class="directions"><h4>Directions</h4><img src='/assets/directions.png'></div></a> 
            </div>

     
              
            <!--  <div class="actionsMobile">
              <%= render partial: 'dones/done', locals: { doable: card } %>
              <%= render partial: 'likes/like', locals: { likeable: card } %>
              <%= render partial: 'cards/keep', locals: { card: card } %>
            </div> -->

             <div class="advert">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- tp backs -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:728px;height:90px"
                   data-ad-client="ca-pub-1244420710031131"
                   data-ad-slot="9375366351"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>  
         
        </div>
      </div>

    <% end %>

</div>








 



