<% unless action_name == 'edit' %>
  <div class='<%=dom_id(doable)%> done'>
    <% if current_user %>
      <% if doable.dones.where(user_id: current_user.id).first %>
        <%= link_to "", [doable, doable.dones.where(user_id: current_user.id).first], class: "pokerDone", title: "Mark as Done!", method: :delete, remote: true %> 
      <% else %>
        <%= link_to "", [doable, Done.new], class: "pokerDo", method: :post, remote: true %>
      <% end %>
      <div class="dones"><%= doable.dones.count %></div>
    <% else %>
      <div class="pokerDo" title="Log in to mark as Done."></div>
      <div class="dones"><%= doable.dones.count %></div>
    <% end %>
  </div>
<% end %>