<% unless action_name == 'edit' %>
  <div class='<%=dom_id(likeable)%> like'>
    <% if current_user %>
      <% if likeable.likes.where(user_id: current_user.id).first %>
        <%= link_to "", [likeable, likeable.likes.where(user_id: current_user.id).first], class: "pokerLikedMobile", method: :delete, remote: true %> 
      <% else %>
        <%= link_to "", [likeable, Like.new], class: "pokerLikeMobile", method: :post, remote: true %>
      <% end %>
      <div class="likesMobile"><%= likeable.likes.count %></div>
    <% else %>
      <div class="pokerLikeMobile" title="Log in to like."></div>
      <div class="likesMobile"><h4><%= likeable.likes.count %></h4></div>
    <% end %>
  </div>
<% end %>