<% if can? :read, @user %>
  <div class="userPanel">
      <h3 id="userLike"><img src="/assets/mylikes.png">My Likes</h3>
      <h3 id="userCards"><img src="/assets/mydecks.png">Decks & Cards</h3>
      <h3 id="userDone"><img src="/assets/mydone.png">I've Done</h3>
      <h3 id="userInfo"><img src="/assets/me.png"> Me!</h3>
      
      <div class="userCards">
        <%= render @user.decks %>
        <%= render @user.cards %>
      </div>
   
      <div class="userLike"> 
        <%= render @user.liked_decks %>
        <%= render @user.liked_cards %> 
      </div>

      <div class="userDone">
        <%= render @user.done_cards %>
      </div>
   
      <div class="userInfo">
         <%= render partial: 'users/user' %>
      </div>
    
  </div>
<% end %>
