<% if can? :read, @user %>

<div class="topDeck">
  <h3>Your Cards and Decks</h3>
  <%= render @user.cards %>
  <%= render @user.decks %>
  <%= render @user.liked_cards %>
  <%= render @user.liked_decks %>
</div>

<div class="topDeck">
    <h3>Your Information</h3>
     <%= render partial: 'users/user' %>
</div>

<% end %>
