<h3>Sign up</h3>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <%= f.email_field :email, class: "inputAll", placeholder: "Email" %>
    <%= f.text_field :name, class: "inputAll", placeholder: "Username" %>
    <%= f.password_field :password, class: "inputAll", placeholder: "Password" %>
    <%= f.password_field :password_confirmation, class: "inputAll", placeholder: "Confirm Password" %>
    <%= f.submit "Sign Up", class: "btn btnAll"  %>
<% end %>
   
    

  