<%
    meta :title => "About - TravelPoker: inspired travel",
         :description => "TravelPoker is designed to inspire travel and discovery thoroughout the world. Travel experiences are put into cards, and collected together, in any arrangement that the user wants, into decks.",
         :keywords => %w(Travel Inspired World sights experiences)
%>

  <div class="centerDiv topSlider fade">
  <%= form_tag search_decks_path, :method => :get do %>
    <div class="searchIn">
      <%= text_field_tag :query, params[:query], placeholder: "Where or what are you looking for?" %> 
      <%= button_tag "Deal", class: "button" %>
   <!-- <input type="text" > -->
    </div>  
  <% end %>        
</div>

<div class="sliderContainer">
  <div id="slider-code">
    <div class="viewport">
      <ul class="overview">
          <li><a class="sliderTitle" href="/decks/5">A Perfect London Weekend</a><img src="/assets/homepage1.png" /></li>
          <li><a class="sliderTitle" href="/decks/7">Fire and Brimstone in The UK's South East</a><img src="/assets/homepage2.png" /></li>
          <li><a class="sliderTitle" href="/decks/6">Beautiful Budapest in Two Days</a><img src="/assets/homepage3.png" />/li>
          <li><a class="sliderTitle" href="/decks/8">The Alps  Top 10</a><img src="/assets/homepage4.png" /></li>
      </ul>
    </div>
  </div>
</div>

<div class="topDeck">
    <h3>Top Decks</h3>
     <div class="apple_pagination">
      <%= will_paginate @decks %>
    </div>
    <%= render @decks %>
</div>

<div class="topDeck">
  <h3>Top Cards</h3>
  <div class="apple_pagination">
    <%= will_paginate @cards %>
  </div>

  <%= render @cards %>
    
  <%= render partial: 'cards/show', collection: @cards, as: :card %>
           
</div>
    