<div class="trip">
  <%= render partial: 'likes/like', locals: { likeable: card } %>
  <div class="tripMeta">
    <div class="dk_container span3 dk_shown dk_theme_default" id="dk_container_herolist" tabindex="1">
      <div class="dk_toggle" id="keep">
        <span class="dk_label">Keep</span>
      </div>
      <div class="dk_options">
        <ul class="dk_options_inner">
          <% if current_user %>
            <% current_user.decks.each do |deck| %>
              <li class="">
                <%= link_to "To: #{deck.title}", ("#{cards_decks_path}?card_id=#{card.id}&deck_id=#{deck.id}"), method: :post, remote: true, data: { 'dk-dropdown-value' => 0 } %>
              </li>
            <% end %>
          <% end %>
          <li class=""><a href="/decks/new/" data-dk-dropdown-value="1">+ Create New</a></li>
        </ul>
      </div>
    </div>
    <div class="dk_container span3 dk_shown dk_theme_default" id="dk_container_herolist" tabindex="1">
      <div class="dk_toggle" id="keep">
        <span class="dk_label">Share</span>
      </div>
      <div class="dk_options">
        <ul class="dk_options_inner">
          <li class="social">
            <a href="#"><img src="/assets/twitter.png"></a>
            <a href="#"><img src="/assets/facebook.png"></a>
            <a href="#"><img src="/assets/gplus.png"></a>
            <a href="#"><img src="/assets/pinterest.png"></a>
            <a href="#"><img src="/assets/rss.png"></a>
          </li>
        </ul>
      </div>
      <% if can? :manage, Card %>
        <span><%= link_to "Edit", edit_card_path(card), id: "keep", class: "keep1a" %></span>
      <% end %>
    </div>
  </div>

  <!-- render partials for, categories, likes, keep and share...? , edit_card_path(@card)-->
  <%= image_tag (card.image) %>
  <div class="tripInfo">
    <h4><%= link_to card.title, card %></h4>
    <p><%= markdown (card.location)%></p>
  </div>
</div>



 



