<div class="card">
  
  <div class="trip <%= dom_id(card) %>" >
    <div class="edit">
      <%= render partial: 'decks/carddeck', locals: { card: card } %>
    </div>
    <%= image_tag(card.image.front) %>
    <div class="tripInfo">
      <h4><%= link_to card.title, card %></h4>
      <p><%= markdown (card.location)%></p>
    </div> 
  </div>

  <span class="twistCardAll">
    <div class="twistCard"><%= render partial: 'cards/show', locals: { card: card, comment: @comment } %></div> 
  </span>

</div>







 



