<%= form_for [card], html: { class: 'form' } do |f| %>
  <% if card.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(card.errors.count, "error") %>.</h4>
      <ul>
        <% card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="iinput">
    <%= render partial: '/categories/form' %>
    <%= image_tag(card.image.back.url) if card.image? %>
    <%= f.label :image, class: 'formlabel' %>
    <div class="iinputtext"> 
      <%= f.file_field :image %>
    </div>
    <%= f.label :url, class: 'formlabel' %>
    <div class="tinput">
      <%= f.text_field :url %>
    </div>
  </div>
  <%= f.label :title, class: 'formlabel' %>
  <div class="tinput">
    <%= f.text_field :title %>
  </div>
  <%= f.label :location, class: 'formlabel' %>
  <div class="tinput">
      <%= f.text_field :location %>
  </div>
  <%= f.label :description, class: 'formlabel' %>
  <div class="pinput">
    <%= f.text_area :description, rows: 8 %>
  </div>
  <%= render partial: '/seasons/form', locals: {f: f} %>
  <div class="cbutton">
    <%= f.submit "Save", class: 'btn btn-large' %>
  </div>
<% end %>