<% unless action_name == 'edit' %>
  <div class="dk_container dk_shown" tabindex="1">
    <div class="share">
      <span class="dk_label">Share</span>
    </div>
    <div class="shareOptions">
      <ul class="shareOptions_inner">
        <li class="social">
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.travelpoker.co/cards/<%= card.id %>&p[title]=<%= card.title %>: <%= card.location%>&p[images][0]=<%= card.image %>">
          <img src="/assets/facebook.png"></a>

          <a href="http://twitter.com/share?url=http%3A%2F%2Fwww.travelpoker.co/cards/<%= card.id %>&text=<%= card.title %>: <%= card.location%>&media=https://lh6.googleusercontent.com/-zhmCkumDcYM/UoUnpfq7YvI/AAAAAAAABPk/VZbRePfm6rk/w190-h90-no/logo.png"><img src="/assets/twitter.png"></a>
          <a href="http://pinterest.com/pin/create/button/?url=www.travelpoker.co/cards<%= card.id %>&media=<%= card.image %>&description=<%= card.title %>"><img src="/assets/pinterest.png"></a>
          <a href="#"><img src="/assets/hyperlink.png"></a>
        </li>
      </ul>
    </div>
  </div>
<% end %>