<div class="topDeck">
  <h3><%= @card.title%>: <%= @card.location %></h3>
</div>
   <div class="tripBack">
     <%= gmaps4rails(@json) %>
     <%= image_tag @card.image%>
    <div class="tripInfoBack">
      <h3><%= @card.title%>: <%= @card.location%></h3>
    </div>
    <div class="ad">
      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-1244420710031131";
        /* tp */
        google_ad_slot = "5656091157";
        google_ad_width = 300;
        google_ad_height = 600;
        //-->
      </script>
      <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </div>
    <div class="backInfo">
      <div class="dk_container span3 dk_shown dk_theme_default" id="dk_container_herolist" tabindex="1">
        <div class="dk_toggle">
         <span class="dk_label" id="keep1">Keep</span>
        </div>
        <div class="dk_options_1">
          <ul class="dk_options_inner">
          <% if current_user %>
            <% current_user.decks.each do |deck| %>
              <li class="">
               <%= link_to "Add To: #{deck.title}", cards_decks_path(card_id: @card.id, deck_id: deck.id), method: :post, remote: true, data: { 'dk-dropdown-value' => 0 } %> 
              </li>
            <% end %>
          <% else %>
            <li><a href="/decks/new/" data-dk-dropdown-value="1">Log In | Register?</a></li>
          <% end %>
          <li><div class="likes1"><%= render partial: 'likes/like', locals: { likeable: @card } %></div></li>
        </ul>
        </div>
      </div>
      <div class="dk_container span3 dk_shown dk_theme_default" id="dk_container_herolist" tabindex="1">
        <div class="dk_toggle">
          <span class="dk_label" id="keep1">Share</span>
        </div>
        <div class="dk_options_1">
          <ul class="dk_options_inner">
            <li class="social_1">
              <a href="#"><img src="/assets/twitter.png"></a>
              <a href="#"><img src="/assets/facebook.png"></a>
              <a href="#"><img src="/assets/gplus.png"></a>
              <a href="#"><img src="/assets/pinterest.png"></a>
              <a href="#"><img src="/assets/rss.png"></a>
            </li>
          </ul>
        </div>
      </div>
        
        <h3><%= @card.title%></h3>
        <div class="likes2"><%= render partial: 'likes/like', locals: { likeable: @card } %></div>
        <div class="tags"><%=image_tag @card.category.image %></div>
        <div class="tags"><%=image_tag @card.season.image %></div>
        <p><%= @card.description%></p>
        <p><%= link_to @card.url%></p>
      <% if can? :manage, Card %>
      <div class="memberOnly">
        <span><%= link_to "Edit", edit_card_path(@card), id: "keep1" %></span>
        <span> <%= link_to "Delete", @card, method: :delete, id: "keep1", confirm: 'Are you sure you want to delete this card?' %></span>
      </div>
      <% end %>
      <div class="comments">  
        <h3 class='js-comments-count'><%= @comments.count %> Additional Thoughts</h3>
        <div class="js-comments"> 
          <%= render partial: "comments/comment", collection: @comments, locals: { card: @cards} %>
        </div>
        <%= render partial: "comments/form", locals:{ card: @card, comment: Comment.new } %>
      </div>
    </div>
  </div>
