<%= link_to deck do %>
  <div class="deck">
    <div class="tripMeta">
      <%= render partial: 'likes/like', locals: { likeable: deck } %>
    </div>
    <%= link_to deck do %>
      <%= image_tag (deck.image.front) %>
    <% end %>
    <div class="tripInfo">
      <h4><%= link_to deck.title, deck %></h4>
    </div>
  </div>
<% end %>
