<div class="deck">
  <div class="tripMeta">
    <%= render partial: 'decks/keep', locals: { deck: deck } %>
    <%= render partial: 'decks/social', locals: {deck: deck } %>
    <%= render partial: 'likes/like', locals: { likeable: deck } %>
  </div>
  <%= image_tag (deck.image.front) %>
  <div class="tripInfo">
    <h4><%= link_to deck.title, deck %></h4>
    <p><%= markdown (deck.location)%></p>
  </div>
</div>
