<div class="topDeck">
  <h3>Add Cards To <%= @deck.title %></h3>
</div>
<div class="editDeck">
  <img class="cover" src="/assets/hide2.png">
  <div class="openEdit"></div><h4>Edit Title, Description and Image</h4>
  <img class="cover" src="/assets/hide2.png">
</div>

  <%= render partial: 'form', locals: { deck: @deck } %>

<div class="topDeck">
  <h3>Current Cards in Deck</h3>
    <div class="addedCard">
      <%= render @deck.cards %>
    </div>
</div>
<div class="topDeck">
  <h3>Add Cards To Deck</h3>
    <div class="removedCard">

      <div class="apple_pagination">
        <%= will_paginate @cards %>
      </div>
      
      <%= render @cards %>

    </div>
</div>



