<div class="topDeck">
  <h3>Edit <%= @deck.title %></h3>
</div>
    <%= render partial: 'form', locals: { deck: @deck } %>
<div class="topDeck">
  <h3>Current Cards in Deck</h3>
    <%= render @deck.cards %>
</div>
<div class="topDeck">
  <h3>Add Cards To Deck</h3>
    <%= render @cards %>
</div>

<% Card.all.each do |card| %>
  <% if @deck.cards %>
    <%= link_to "Remove", cards_decks_path(card_id: card.id, deck_id: @deck.id), method: :delete, remote: true %>
  <% else %>
      <%= link_to "Add", cards_decks_path(card_id: card.id, deck_id: @deck.id), method: :post, remote: true %>
  <% end %>
<% end %>

<!-- deck.cards.each |card| do
  img_tag card.season.image
end -->