<!DOCTYPE html>
 <html>
  <head>
    <link rel="shortcut icon" href="/assets/pokerlike.png"/>
     <title>Travel Poker</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" %>
    <%= csrf_meta_tags %>
  </head>
  <body> 
    <%= render partial: 'layouts/panel' %>
     <!--panel -->
  <div class="wrapper fade">
    <header>
      <div class="centerDiv">
        <div class="logo">
          <a href="/"><img src="/assets/logo.png" /></a>
        </div>
    
     <!--   <div class="topMenu cat">
          <ul>
            <li><a href="#" class="menuTop home"></a></li>
            <li><a href="#" class="menuTop drink"></a></li>
            <li><a href="#" class="menuTop camera"></a></li>
            <li><a href="#" class="menuTop shopping"></a></li>
            <li><a href="#" class="menuTop food"></a></li>
            <li><a href="#" class="menuTop journey"></a></li>
            <li><a href="#" class="menuTop theatre"></a></li>
            <li><a href="#" class="menuTop sport"></a></li>
            <li><a href="#" class="menuTop festival"></a></li>
          </ul>
        </div> -->
        <%= form_tag search_cards_path, :method => :get do %>
          <div class="searchHead">
            <%= text_field_tag :query, params[:query], placeholder: "Search" %> 
            <%= button_tag "Deal", class: "btnAll button" %>
         </div>  
       <% end %>  
      </div>
    </header>
    
      <% if flash[:error] %>
      <div class="alert">
        <%= flash[:error] %>
      </div>
      <% end %>
  
    
      <% if flash[:notice] %>
      <div class="alert">
        <%= flash[:notice] %>
      </div>
      <% end %>
   
    
      <% if flash[:message] %>
      <div class="alert">
        <%= flash[:message] %>
       </div>
      <% end %>
   

    <%= yield %>

    <%= render partial: 'layouts/footer' %>
    
</body>

</html>
