<!DOCTYPE html>
 <html>
  <head>
    <link rel="shortcut icon" href="/assets/pokerlike.png"/>
     <title>Travel Poker</title>
    <%= stylesheet_link_tag"application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<div id="toppanel">
  <div id="panel">
  <div class="centerDiv">
    <% if user_signed_in? %>
      <div class="topCol">
        <%= button_to('Logout', destroy_user_session_path, method: :delete) %>
      </div>    
    <% else %>
      <div class="topCol">
        <%= render partial: '/devise/sessions/new' %>
      </div>
      <div class="topCol">
        <%= render partial: '/devise/registrations/new' %>
       </div>
    <% end %>
  </div>  
  </div> <!-- /login -->  

<!-- The tab on top --> 
  <div class="tab">
    <ul class="login">
      <li class="left">&nbsp;</li>
      <li>Hello <% if current_user %>
        <%= link_to (current_user.name || current_user.email), current_user %>
      <% end %></li>
      <li class="sep">|</li>
      <li id="toggle">
        <% if user_signed_in? %> 
          <a id="open" class="open" href="#">Log Out | My Panel</a> 
        <% else %>
          <a id="open" class="open" href="#">Log In | Register</a>
        <% end %>
        <a id="close" style="display: none;" class="close" href="#">Close Panel</a>     
      </li>
      <li class="right">&nbsp;</li>
    </ul> 
  </div> <!-- / top -->
</div> 



     <!--panel -->
  <div class="wrapper fade">
    <header>
      <div class="centerDiv">
        <div class="logo">
          <a href="#"><img src="/assets/logo.png" /></a>
        </div>

        <div class="topMenu fade">
          <ul>
            <li><a href="#" class="menuTop home"></a></li>
            <li><a href="#" class="menuTop drink"></a></li>
            <li><a href="#" class="menuTop camera"></a></li>
            <li><a href="#" class="menuTop shopping"></a></li>
            <li><a href="#" class="menuTop food"></a></li>
            <li><a href="#" class="menuTop journey"></a></li>
            <li><a href="#" class="menuTop theatre"></a></li>
            <li><a href="#" class="menuTop sport"></a></li>
            <li><a href="#" class="menuTop festival"></a></li>
          </ul>
        </div>
      </div>
    </header>

<%= yield %>

<div class="topFooter">
      <div class="centerDiv">
        <div class="footCol">
          <h3>Top Destinations</h3>
          <ul>
            <li><a href="#">New York</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Cairo</a></li>
            <li><a href="#">Roma</a></li>
          </ul>
        </div>
        <div class="footCol">
          <h3>Travel Poker</h3>
          <ul>
            <li><a href="#">How it Works</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="footCol">
          <a href="/decks/new" class="btn btn-large btn-block creatDeck">Create a Deck</a>
          <a href="/cards/new" class="btn btn-large btn-block creatDeck">Create a Card</a>
        </div>
        <div class="footCol">
          <a href="#" class="footLogo"></a>
        </div>
      </div>
    </div>
    <footer>
      <div class="centerDiv">
      <ul class="footMenu">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Ts & Cs</a></li>
      </ul>
      <p class="copyrights"> &copy; Copyrights 2013 all copyrights reserved - Travel Poker </p>
        <div class="footerSocial">
          <a href="#"><img src="/assets/facebook.png"></a>
          <a href="#"><img src="/assets/twitter.png"></a>
          <a href="#"><img src="/assets/gplus.png"></a>
          <a href="#"><img src="/assets/pinterest.png"></a>
        </div>
      </div>
      <%= yield :scripts %>
    </footer>

</body>
</html>
